<p>home works!</p>

<button
[routerLink]="['/login']">   
    ir a login
</button>

<button
[routerLink]="['/usuario','listar']">   
    ir a USUARIO LISTAR
</button>

<button
(click)="irAUsuarioListar()"
>
    ir a usuario con click
</button>
<br><br>
<div>
<button [routerLink]="['/pokemon','crear']">
    CREAR \\PokemonGo//
  </button>
</div>
<br>
<div>
  <button [routerLink]="['/pokemon','listar']">
    LISTAR \\PokemonGo//
  </button>
</div>
  <br>
<div>
  <button (click)="irAPokemonGoEdit()">
    EDITAR \\PokemonGo//
  </button>
  </div>